---
interface Props {
    style: "classic" | "ornate" | "simple";
    color?: string;
    size?: "small" | "medium" | "large";
}

const { style = "classic", color = "currentColor", size = "medium" } = Astro.props;

const sizeMap = {
    small: "2rem",
    medium: "3rem",
    large: "4rem",
};

const height = sizeMap[size];
---

<div class="book-divider" aria-hidden="true">
    {
        style === "classic" && (
            <svg viewBox="0 0 100 24" fill="none" xmlns="http://www.w3.org/2000/svg" height={height}>
                <path d="M50 0L37.5 12L25 0L12.5 12L0 0v24h100V0L87.5 12L75 0L62.5 12L50 0z" fill={color} />
            </svg>
        )
    }

    {
        style === "ornate" && (
        <svg width="70mm" height="10mm" viewBox="0 0 70 7.071" xmlns="http://www.w3.org/2000/svg">
          <path d="M26.728 4.82c.289-.187.504-.466.519-.767.017-.35-.288-.718-.735-.754-.361-.079-.789.062-.947.374-.065.128.136.195.249.127.234-.14.525-.37.807-.156a.47.47 0 0 1 .175.32c.031.248-.108.506-.354.656-.694.422-1.596-.149-1.791-.719-.204-.599.246-1.178.866-1.464.722-.333 1.582-.146 2.273.14l.01.004c-.851-.129-1.759.032-2.472.451-.164.096-.007.32.159.223.941-.552 2.144-.605 3.155-.145.512.233.907.574 1.39.84a5.9 5.9 0 0 0 1.618.618c.854.18 1.801.134 2.569-.222a2.6 2.6 0 0 0 .78-.554 2.6 2.6 0 0 0 .78.555c.768.356 1.714.402 2.569.222a5.9 5.9 0 0 0 1.618-.618c.482-.267.878-.607 1.39-.84 1.01-.46 2.213-.407 3.154.145.166.098.324-.127.16-.223-.714-.419-1.622-.58-2.472-.45l.01-.005c.69-.286 1.55-.474 2.272-.14.62.286 1.07.864.866 1.464-.194.57-1.097 1.141-1.791.72-.245-.15-.384-.408-.354-.656a.47.47 0 0 1 .176-.32c.281-.215.572.014.806.156.114.068.315.001.249-.127-.158-.313-.586-.453-.947-.374-.447.036-.752.403-.735.754.014.301.23.58.519.767 1.449.937 3.652.064 3.456-1.475-.083-.649-.656-1.187-1.403-1.395-.888-.247-1.825-.136-2.68.15-1.007.334-1.945.857-3.01 1.067-.952.188-2.079.112-2.705-.569 0 0-.082-.136-.172-.123-.32-.025-.133.48-.081.607.09.218.246.415.449.574.416.327 1.01.48 1.582.42a4 4 0 0 0 .491-.084 6 6 0 0 1-1.188.35 3 3 0 0 1-.389-.016c-.712-.075-1.422-.38-1.762-.919-.308-.485-.397-1.12-.07-1.618.172-.26.438-.54.8-.635a1.4 1.4 0 0 1 .189-.034c-.373.186-.582.56-.258.912.689.75 2.033-.137 1.306-.85-.27-.267-.716-.37-1.142-.36l-.114.004a2.5 2.5 0 0 0-1.568.69 2.53 2.53 0 0 0-1.568-.69l-.114-.005c-.427-.009-.872.094-1.142.36-.727.714.617 1.601 1.306.852.324-.353.114-.727-.258-.913a1.4 1.4 0 0 1 .188.034c.362.094.628.374.8.635.327.498.238 1.133-.07 1.618-.34.537-1.051.843-1.762.92a3 3 0 0 1-.389.014 6 6 0 0 1-1.188-.349q.235.056.491.084c.571.06 1.165-.093 1.582-.42.203-.158.359-.356.449-.574.053-.127.24-.632-.081-.607-.09-.013-.172.122-.172.123-.626.681-1.753.758-2.704.57-1.065-.21-2.003-.734-3.01-1.069-.855-.285-1.792-.397-2.68-.149-.747.21-1.321.746-1.403 1.395-.196 1.54 2.007 2.412 3.456 1.475"/>
          <path d="M44.507 1.133c.746.05 1.574.334 1.832.962.222.54.121 1.211-.447 1.593a2.23 2.23 0 0 1-1.411.338c.286-.055.553-.173.762-.356.496-.435.598-1.03.344-1.579-.229-.495-.795-.828-1.405-.964a4 4 0 0 1 .325.006m-5.552 1.72c-.79.114-1.768-.153-1.973-.79.798.588 2.021.627 3.034.352a7 7 0 0 0 .55-.175c-.498.28-1.021.526-1.611.612m-8.92-.438c1.013.276 2.236.236 3.034-.353-.205.64-1.183.905-1.973.79-.59-.086-1.112-.333-1.61-.613a7 7 0 0 0 .549.175m-6.323-.319c.258-.628 1.086-.914 1.832-.963q.164-.01.325-.006c-.609.136-1.175.47-1.405.964-.255.55-.152 1.145.344 1.58.209.182.476.301.762.355a2.23 2.23 0 0 1-1.41-.338c-.568-.38-.669-1.052-.447-1.592m42.202 1.788 1.775-.123-1.803-.134c1.221-.304 2.475-1.65 1.534-2.643-.656-.692-1.555.238-1.012.733-.043-.135-.079-.469.118-.559.114.752 1.409.2.823 1.201-.109-.44-.594-.715-1.022-.359.509-.015.804.69.471.962-.015-.34-.334-.677-.666-.508.58.566-.339 1.033-1.032 1.146H49.773v-.362h-.294v.362h-.204v-.362l-.179-.249-.201.25v.361h-.208v-.362h-.294v.362h-.245v.307h.245v.424h.294v-.424h.208v.424l.201.25.179-.25v-.423h.204v.424h.294v-.424h15.365c.689.124 1.565.585.995 1.14.332.17.651-.168.666-.508.333.273.038.976-.471.962.428.356.913.082 1.022-.358.586 1.002-.708.45-.823 1.201-.196-.09-.16-.423-.118-.559-.543.496.356 1.425 1.012.734.934-.985-.294-2.319-1.505-2.636m-61.831 0L2.31 3.76l1.803-.134C2.892 3.321 1.638 1.975 2.579.982c.656-.692 1.555.238 1.012.733.042-.135.079-.469-.118-.559-.114.752-1.409.2-.823 1.201.109-.44.594-.715 1.022-.359-.509-.015-.803.69-.471.962.015-.34.334-.677.666-.508-.58.566.339 1.033 1.033 1.146h15.328v-.362h.294v.362h.204v-.362l.179-.249.2.25v.361h.208v-.362h.294v.362h.246v.307h-.246v.424h-.294v-.424h-.208v.424l-.2.25-.179-.25v-.423h-.204v.424h-.294v-.424H4.863c-.688.124-1.565.585-.995 1.14-.332.17-.651-.168-.667-.508-.332.273-.038.976.471.962-.428.356-.913.082-1.022-.358-.587 1.002.708.45.823 1.201.196-.09.16-.423.118-.559.542.496-.356 1.425-1.012.734-.934-.985.294-2.319 1.506-2.636"/>
        </svg>
        )
    }

    {
        style === "simple" && (
            <svg viewBox="0 0 100 24" fill="none" xmlns="http://www.w3.org/2000/svg" height={height}>
                <line x1="0" y1="12" x2="100" y2="12" stroke={color} stroke-width="2" />
            </svg>
        )
    }
</div>

<style>
    .book-divider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    svg {
        width: auto;
    }
</style>
